<h1>RailsJobPlataform</h1>
<p>¡Bienvenido a RailsJobPlataform!</p>
<p>Para postularte a nuestras ofertas de empleo, por favor inicia sesión en tu cuenta.
¡Esperamos tu candidatura!</p>
<p>Saludos,</p>
<p>El equipo de RailsJobPlataform</p>





