<!-- app/views/applications/show.html.erb -->
<h1>Detalles de la Aplicación</h1>

<p><strong>Oferta de trabajo:</strong> <%= @application.job_offer.title %></p>
<p><strong>Estado:</strong> <%= @application.status %></p>
<p><em>Aplicado el: <%= @application.created_at.strftime("%d/%m/%Y") %></em></p>
